
body {
    background: url(images/noise_light-grey.jpg);
    font-family: 'Helvetica Neue', arial, sans-serif;
    font-weight: 200;
}

.center {
    margin: 0 auto;
}

.wrapper {
    width: 100%;
    padding: 30px 0;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

@media (max-width: 1199px) {
    .container {
        width: auto;
        padding: 0 10px;
    }
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 4em;
    font-weight: 400;
    margin: 0 0 20px;
    text-align: center;
    text-shadow: 1px 1px 0 #fff, 2px 2px 0 #bbb;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    font-weight: 400;
    margin: 0 0 20px;
    text-align: left;
    text-shadow: 1px 1px 0 #fff, 2px 2px 0 #bbb;
}

h3 {
    font-size: 3em;
    margin: 0 0 20px;
    text-align: left;
    text-shadow: 1px 1px 0 #fff, 2px 2px 0 #bbb;
}

.nav-button {
    min-width: 20%;
    min-height: 100px;
    background-color: #ffa500; 
    border-radius: 4px;
    border: none;
    color: white; 
    padding: 16px 32px;
    text-align: center;
    border: 2px solid #ffa500;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.nav-button:hover {
    background-color: white;
    color: black;
}

table {
    border-spacing: 30px 30px;
    width: 100%;
}

td {
    background-color: white;
    width: 30.83%;
    padding: 15px 15px 15px 15px;
    vertical-align: top;
}

.invisible {
    opacity: 0;
}
.footer {
    width: 100%;
    text-align: center;
    display: inline-block;
    padding: 15px 0 15px 0;
    margin: 0%;
    background: #fff;
    border: 1px solid #ddd;
    font-size: 2em;
    vertical-align: top;
    box-shadow: 0 0 5px #ddd;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

span {
    font-size: 2em;
    color: black;
    min-height: 100px;
}